# Sanity
alias gi="git"
alias gti="git"
alias giut="git"
alias gits="git s"
alias guts="git s"

# Shortcuts
alias g="git"
alias k="kubectl"
alias kd="kubectl --context=dev"
alias ks="kubectl --context=staging"
alias kp="kubectl --context=production"
alias deqq="sed -e 's/\\\\\"/\\\"/g' | sed -e 's/\\\\\\\\n/\\\\n/g'"
alias nice='pbpaste | jq "" | pbcopy'
alias niceq='pbpaste | deqq | jq "" | pbcopy'

if [[ "$(uname)" == 'Darwin' ]]; then
  if [[ "$(command -v mvim)" == "" ]]; then
    echo "You need macvim for better vim support (brew install macvim)"
  else
    alias vim='mvim -v'
  fi
fi

# Enable aliases to be sudo’ed
alias sudo='sudo '

